.header {
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  align-items: center;
}

.header ul{
  display: flex;
  font-size: 1.125rem;
}

.header li + li {
  margin-left: 30px;
}

.cadastrar {
  border: 2px solid #fff;
  padding: 0px 15px;
  border-radius: 20px;
  background-color: #fff;
  color: #92CD8B;
}

.logout {
  border: 2px solid #fff;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff;
  color: #92CD8B;
  font-size: 1.125rem;
  cursor: pointer;
}