.footer {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.studentInfo {
  margin-bottom: 10px;
}

.studentInfo p {
  margin: 0;
}

.classInfo {
  margin-top: 10px;
}

.copyRight {
  margin-top: 20px;
}
