.background {
  background-image: url('/img/natureza.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.labelButton {
  display: flex;
  align-items: center;
  background-color: #92CD8B;
  color: white;
  padding: 15px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  width: 400px;
}

.labelButton.selected {
  background-color: #45a049;
}

.nextButton {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 125px;
}

.nextButton:hover {
  background-color: #45a049;
}

.backButton {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;  /* Mesma cor que o botão "Próximo" */
  color: white;
  padding: 15px;
  margin-right: 10px;  /* Adicionado para dar espaço entre os botões */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 125px;
}

.backButton:hover {
  background-color: #45a049;
}

